#!/bin/bash

source {{ autoware_env_dir }}/autoware.env && true
source {{ autoware_env_dir }}/vehicle.env
source {{ autoware_env_dir }}/jetson.env

source /opt/ros/humble/install/setup.bash
source {{ perception_application_base_path }}/{{ perception_application_directory_name }}/install/setup.bash

if [ "$VEHICLE_MODEL" == "j6_gen2" ]; then
    while [[ ! -e /var/run/mgbe1-ready ]]; do
        sleep 1
    done
fi

{% if perception_type == "tlr" %}
ros2 launch jetson_or_launch object_recognition.launch.py build_engine_only:=true data_path:="/opt/autoware" input/image:="none" container:="none" camera_id:="0"
ros2 launch jetson_tlr_launch traffic_light.launch.xml build_engine_only:=true container:="none"
{% else %}
ros2 launch jetson_or_launch object_recognition.launch.py build_engine_only:=true data_path:="/opt/autoware" input/image:="none" container:="none" camera_id:="0"
{% endif %}

{% for i in range(video_num) %}
while [[ ! -e /dev/video{{ i }} ]]; do
    sleep 1
done
{%endfor%}

ros2 launch jetson_{{ perception_type }}_launch jetson_{{ perception_type }}.launch.xml
