[Unit]
Description=Camera Driver Install Service
After=network.target
Before=perception-startup.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/camera-driver-installer.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
