#!/bin/sh
# cSpell: ignore IFACE mgbe

_ping_dst_ip={{ link_retry_handler_ping_dst_ip }}

echo "$IFACE is up"
if [ $IFACE != "{{ link_retry_handler_network_port }}" ]; then
	# Do nothing
	exit
fi

sleep 10

ping -c 2 $_ping_dst_ip > /dev/null 2>&1

if [ $? -eq 0 ]; then
	echo "$IFACE is ip reachable"
	touch /var/run/mgbe1-ready
	# Do nothing
else
	echo "$IFACE isn't ip reachable"
	# Retry to set the link up
	ip link set $IFACE down
	sleep 1
	ip link set $IFACE up
fi
