{% for key in network_config %}
{% if 'dhcp' not in key %}
SUBSYSTEM=="net",ACTION=="add|change",KERNEL=="{{ network_config[key].interface_name }}",ATTR{tx_queue_len}="{{ txqueue_length }}"
{% endif %}
{% endfor %}
