- name: Get file info from GitHub repository
  ansible.builtin.uri:
    url: "{{ camera_driver_repo }}"
  register: github_api_return_info

- name: Parse download URL for driver
  loop: "{{ github_api_return_info.json.assets }}"
  ansible.builtin.set_fact:
    driver_deb_download_url: "{{ item.browser_download_url }}"
    driver_deb_name: "{{ item.name }}"
  when: item.name | regex_search('tier4-camera-gmsl_(.+)_arm64.deb')

- name: Parse download URL for SDK
  loop: "{{ github_api_return_info.json.assets }}"
  ansible.builtin.set_fact:
    sdk_deb_download_url: "{{ item.browser_download_url }}"
    sdk_deb_name: "{{ item.name }}"
  when: item.name | regex_search('t4cam_sdk-(.+)-rqx58g.deb')

- name: Download driver deb file from public repo
  ansible.builtin.uri:
    url: "{{ driver_deb_download_url }}"
    dest: "{{ camera_driver_download_dir }}/{{ driver_deb_name }}"
    mode: 0644

- name: Download SDK deb file from public repo
  ansible.builtin.uri:
    url: "{{ sdk_deb_download_url }}"
    dest: "{{ camera_driver_download_dir }}/{{ sdk_deb_name }}"
    mode: 0644
  when: sdk_deb_download_url is defined

- name: Install apt packages
  become: true
  ansible.builtin.apt:
    name:
      - make
      - build-essential
      - debhelper
      - debmake
      - devscripts
      - dkms
    update_cache: true

- name: Setup camera driver and SDK
  become: true
  block:
    - name: Install driver from deb file
      ansible.builtin.apt:
        deb: "{{ camera_driver_download_dir }}/{{ driver_deb_name }}"
        state: present
    - name: Post process
      ansible.builtin.shell:
        cmd: |
          /opt/nvidia/jetson-io/config-by-hardware.py -n 2="TIERIV ISX021 IMX490 GMSL2 Camera Device Tree Overlay"
        # noqa no-changed-when
        # TODO: check dtb file
    - name: Install SDK from deb file
      ansible.builtin.apt:
        deb: "{{ camera_driver_download_dir }}/{{ sdk_deb_name }}"
        state: present
      when: sdk_deb_download_url is defined
